* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_class {
    width: 100vw;
    height: 100vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child_class {
    width: 25vw;
    height: 80vh;
    background-color: thistle;
    border-radius: 15px;
}
@media (max-width: 768px){
    .child_class{
width: 75vw;
    }
}

h1 {
    text-align: center;
    margin-top: 30px;
    background-color: tomato;
    line-height: 3rem;
}

input {
    margin-top: 10%;
    margin-left: 5%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    height: 2rem;
    font-size: larger;
    font-weight: bolder;
    text-align: center;

}

button {
    border: transparent;
    border-radius: 100%;
    background: tomato;
    height: 35px;
    width: 35px;
    margin-left: 5%;
    font-size: x-large;
}
button:hover
{
    background-color:greenyellow;
}
.deletebutton{
    border: transparent;
    border-radius: 100%;
    background: tomato;
    height: 30px;
    width: 30px;
    margin-left: 5%;
    font-size: x-large;
  
}
.deletebutton:hover{
    background-color: red;
}

li{
    font-size: 1.5rem;
    margin-left: 20%;
    margin-top: 10%;
    font-weight: bold;

}